@model IEnumerable<BarTracker.Models.Bar>
@{ViewBag.Title = "ListOfBars";}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Bar</title>
        <meta name="description" >
        <link rel="stylesheet" href="~/Content/listcss.css">
    </head>
    <body>
        <div class="container">
            
            <div class="tipoheader">
                <span class="label_bars">
                    <label class="label">Where to go in: </label>
                </span>
         <!--   <span class="sorting">
                    <label class="label">Sorting: </label>
                    <button class="rating" onclick="location.href=@Url.Action("BarSorting","Home", new {id ="Rating"})">Rating</button>
                    <button class="category">Category</button>
                </span> -->
@if (User.Identity.IsAuthenticated)
{
    <div>
                <a class="signin" href="@Url.Action("Authorize", "MyAccount")">
                    <img src="~/screenshots/sign_in.png">
                </a>
        </div>
}
else
{
    <div class="container">
        <a class=register href="@Url.Action("MyProfile","MyAccount")">
            <img src="~/screenshots/user.png" />
        </a>
    </div>
}
            </div>
            <div class="list">
                <div class="h">
                    <span class="name"><strong>@Model.FirstOrDefault().City</strong></span>
                    <span class="rating">
                        <img src="~/screenshots/Star.png">
                    </span>
                </div>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.BarName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Category)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model =>model.Rating)
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BarName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td>
                                @if (item.Rating.Count() != 0)
                                {
                                @Html.DisplayFor(modelItem => item.Rating.FirstOrDefault().RatingValue)
                                }
                                else
                                {
                                    <text>Not Rated</text>
                                }
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "EditBar", new { id = item.BarId }) |
                                @Html.ActionLink("Details", "BarDetails", new { id = item.BarId }) |
                                @Html.ActionLink("Delete", "DeleteBar", new { id = item.BarId }) |
                            </td>
                        </tr>
                    }

                </table>
                <div class="comment_content">Good news for all of the handsome men out there, Door 74 has a clear no bothering policy. If you want to enjoy a pleasant evening without being interrogated by…</div>
            </div>
            <a class="plus" href="@Url.Action("AddBar","Home")" >
                <img src="~/screenshots/plus.png" />
            </a>
            
        </div>
    </body>
</html>
