@model BarTracker.Models.User
    @{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BarTracker</title>
    <meta name="description">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Raleway'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel="stylesheet" href="~/Content/main.css">
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="container">
            <a class="myprofile" href="@Url.Action("MyProfile","MyAccount")">
                <img src="screenshots/user.png" />
            </a>
        </div>
        <div class="container">
            <a class=sign_in href="@Url.Action("SignOut","MyAccount")">
                <img src="screenshots/sign_out.png" />
            </a>
        </div>
    }
    else
    {
        <div class="container">
            <a class=sign_in href="@Url.Action("Authorization","MyAccount")">
                <img src="~/screenshots/sign_in.png" />
            </a>
        </div>
        <div class="container">
            <a class=register href="@Url.Action("Registration","MyAccount")">
                <img src="~/screenshots/sign_up.png" />
            </a>
        </div>
    }   
    <a class="amster" href="@Url.Action("BarListByCity","Home",new {SearchCity = "Amsterdam" })">
        <img src="~/screenshots/амстер.png" />
    </a>

    <a class="barcelona" href="@Url.Action("BarListByCity","Home",new {SearchCity = "Barcelona" })">
        <img src="~/screenshots/барселона.png" />
    </a>

    <a class="berlin" href="@Url.Action("BarListByCity","Home",new {SearchCity = "Berlin" })">
        <img src="~/screenshots/берлин.png" />
    </a>

    <div class="content">
        Choose the city which is interesting for you:
    </div>
    <form action="@Url.Action("BarListByCity","Home")">
        <p>
            <span><input type="search" class="search" placeholder="Find your city" name="SearchCity"></span>
            <span><input type="submit" class="search1" value="Search" name="SearchCityBtn"></span>
    </p>
        </form>
    <form action="@Url.Action("BarListByItem", "Home")">
        <p>
            <div><label class="or_search">OR YOU CAN SEARCH THE BAR</label></div>
            <span><input type="search" class="search" placeholder="Find your bar" name="SearchBar"></span>
            <span><input type="submit" class="search1" value="Search" name="SearchBarBtn"></span>
        </p>
    </form>

    <span>
        <a class="wellington" href="@Url.Action("BarListByCity","Home",new {SearchCity = "Wellington" })">
            <img src="~/screenshots/велингтон.png">
        </a>
    </span>
    <span>
        <a class="dublin" href="@Url.Action("BarListByCity","Home",new {SearchCity = "Dublin" })">
            <img src="~/screenshots/дублин.png">
        </a>
    </span>
    @if (User.Identity.IsAuthenticated)
    {
        <a class="plus" href="@Url.Action("AddBar", "Home")">
            <img src="~/screenshots/plus.png" />
        </a>
    }
        <a class="content1">
            Or just click on the icon
        </a>
</body>
</html>

