@model BarTracker.Models.Bar

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Raleway'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel="stylesheet" href="~/Content/bar.css">
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="container">
            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })    
            <div class="form-group">
                <div class="bar_name">
                    @Html.EditorFor(model => model.BarName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BarName, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.BarName, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
    
            <div class="form-group">
                <div class="bar_name">
                    @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
    
            <div class="form-group">
                <div class="bar_name">
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="form-group">
                <div class="bar_name">
                    @Html.EditorFor(model => model.Rating.SingleOrDefault(x => x.BarId == model.BarId).RatingValue, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Rating.SingleOrDefault(x => x.BarId == model.BarId).RatingValue, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.Rating.SingleOrDefault(x => x.BarId == model.BarId).RatingValue, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="form-group">
                <div class="bar_name">
                    @Html.EditorFor(model => model.Review.SingleOrDefault(x => x.BarId == model.BarId).ReviewContent, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Review.SingleOrDefault(x => x.BarId == model.BarId).ReviewContent, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.Review.SingleOrDefault(x => x.BarId == model.BarId).ReviewContent, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
    <p></p>
            <div class="form-group">
                <div class="send">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
